@tailwind base;
@tailwind components;
@tailwind utilities;

.hola{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 1px solid #DDE6ED;
}
.si{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #DDE6ED;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-size:x-large;
    box-sizing: border-box;
    color: #5f6368;
}
.no{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #DDE6ED;
    padding-left: 16px;
    padding-right: 16px;
    color:#5f6368;
    font-weight: 500;

}
.se{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #DDE6ED;
    padding-left: 16px;
    padding-right: 16px;
    color: #C7C7C7;
    font-weight: 500;
}
.si:hover,
.no:hover{
    color: #000;
}
.usuario{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    width: 94.5rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.usuario_img{
    grid-row: 1 / -1;
    grid-column: 2;
}
.inventario{
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
}
.gridr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 44px;
}
.ppp{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.pppp{
    display: flex;
    width: 100px;
    color: gray;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: dotted;
    cursor: pointer;
}
.p{
    width: 320px;
    height: 580px;
    padding: 16px;
    border: 1px solid blue;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -8px blue;
}

.p_2{
    width: 320px;
    height: 220px;
    padding: 16px;
    border: 1px solid blue;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -8px blue;
}